* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  color: hsl(0, 0%, 100%);
  font-family: 'Raleway', sans-serif;
  background-color: hsl(218, 28%, 13%);

}

img {
  display: block;
}

header {
  background-color: hsl(217, 28%, 15%);
}



/* *********************** */
/* HERO SECTION            */
/* *********************** */

.section-hero {
  background-color: hsl(217, 28%, 15%);
  height: 85vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 9.6rem;
}

.space-between-v {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
}

.hero-img-box img {
  justify-content: end;
  width: 100%;
}


.main-nav {
  padding: 4.8rem 4.8rem 0.8rem 4.8rem;
  display: flex;
}

.nav-list {
  list-style: none;
}

.nav-list a:link,
.nav-list a:visited {
  margin: 0 1.6rem;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  list-style: none;
  font-size: 1.8rem;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;

}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;

  transition: all 0.3s;
}




/* .nav-cta {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
} */



.nav-list a:hover,
.nav-list a:active {
  padding-bottom: 0.8rem;
  border-bottom: 1px solid hsl(0, 0%, 100%);
}

.hero-content {
  padding: 4.8rem 4.8rem0 4.8rem;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.hero-content-img img {
  max-width: 80%;
  display: inline;
}

.hero-content p {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 200;
}

.get-started:link,
.get-started:visited {
  margin-top: 2.4rem;
  font-size: 1.8rem;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  padding: 1.2rem 5.2rem;
  background-color: hsl(176, 68%, 64%);
  background-image: linear-gradient(to left, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  background-size: 200% 100%;
  transition: all 0.5s ease, color 0.5s ease;
  border-radius: 999px;
  box-shadow: 0 0 10px transparent;

}

.get-started:hover,
.get-started:active {
  background-position: -100% 0;
  background-image: linear-gradient(to left, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  box-shadow: 0 0 10px hsla(176, 68%, 64%, 0.507);
}




/* *********************** */
/* FEATURES                */
/* *********************** */
.section-features {
  padding: 9.6rem 2.3rem 8.3rem 3.2rem;
  background-color: hsl(218, 28%, 13%);
  display: flex;
  justify-content: center;
}

.features-content {
  max-width: 120rem;
}

.feature-item {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  text-align: center;
}

.heading-secondary {
  font-size: 1.6rem;
}

.feature-icon img {
  height: 5.5rem;
  width: auto;
}

.feature-item p {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 200;
}

/* *********************** */
/* HOW IT WORKS            */
/* *********************** */

.section-how {
  padding: 9.6rem 3.2rem;
  display: flex;
  justify-content: center;
}

.how-it-works-img {
  max-width: 100%;
}

.section-how-all-content {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5.8rem;
  width: 130rem;
}

.stay-productive-header {
  font-size: 4.2rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
  font-weight: 600;
}

.stay-productive-description p {
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1.6;
}

.stay-productive-description p {
  margin-bottom: 1.8rem;
}

.stay-productive-description {
  width: 30%;
}

.section-how-all-content a:link,
.section-how-all-content a:visited {
  margin: 1.6rem 0;
  color: hsl(176, 68%, 64%);
  text-decoration: none;
  list-style: none;
  font-size: 1.6rem;
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid hsl(176, 68%, 64%);
  padding-bottom: 0.8rem;
}

.section-how-all-content a:hover,
.section-how-all-content a:active {
  padding-bottom: 0.8rem;
  color: hsl(0, 0%, 100%);
  border-bottom: 1px solid hsl(0, 0%, 100%);
  transition: 0.3s ease-in-out;
}


/*  */

.section-testimonial {
  padding: 12rem 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  width: 130rem;
  margin-bottom: 20rem;
}

.testimonial-item {
  padding: 3.2rem;
  background-color: hsl(219, 30%, 18%);
  border-radius: 0.4rem;
  transition: all 0.3s;
  position: relative;

}

.testimonial-text p {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 2.4rem;
  line-height: 1.6;
}


.testimonial-profile {
  display: flex;
  align-items: center;
}

.testimonial-profile img {
  height: 3.4rem;
  width: 3.4rem;
  border-radius: 100%;
  margin-right: 0.8rem;
}

.testimonial-profile h3 {
  margin-bottom: 0.4rem;
}

.testimonial-item:hover {
  background-color: hsl(218, 30%, 40%);
}

.bg-quotes {
  position: absolute;
  top: -15%;
  left: 0%;
  transform: translate(-15%, 0%);
  z-index: -10;
}


.footer {
  padding: 9.6rem 3.2rem;
  background-color: hsl(216, 53%, 9%);
  display: flex;
  justify-content: center;
  position: relative;
}

.footer-box {
  width: 130rem;
  margin-top: 6.8rem;
}

.footer-logo {
  margin-bottom: 1.4rem;
  height: 3.2rem;
}

.social-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.2rem;
}


.social-icon {
  width: 1.8rem;
  height: 1.8rem;
  color: aliceblue;
  border: 1px solid white;
  padding: 0.8rem;
  border-radius: 50%;
  transition: all 0.3s;
}

.social-icon:hover {
  border: 1px solid hsl(176, 68%, 64%);
  color: hsl(176, 68%, 64%);
}

.address-col {
  display: flex;
  align-items: start;
  font-size: 1.2rem;
  column-gap: 1.6rem;
}

/* .location-icon{
  margin-left: 1.4rem;
} */

.contact-items {
  display: flex;
  column-gap: 1.8rem;
  margin-bottom: 1.2rem;
}

.contact-items p {
  font-size: 1.2rem;
}

.get-early-access {
  background-color: hsl(217, 28%, 15%);
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.25);
  padding: 6.2rem 3.2rem;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 0.8rem;
  width: 50%;
}

.get-early-access h2 {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

.get-early-access p {

  font-size: 1.4rem;
  line-height: 1.6;
}

.form {
  margin-top: 2.4rem;
}

.form input[type="text"] {
  padding: 1rem;
  border-radius: 99px;
  border: none;
  font-family: inherit;
  font-weight: 500;
  width: 60%;
}

.form input::placeholder {
  font-weight: 500;
}

.form input:focus {
  outline: none;
}



.form button {
  padding: 1rem;
  outline: none;
  border: none;
  background-color: hsl(198, 60%, 50%);
  border-radius: 999px;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  margin-left: 1.2rem;
  transition: all 0.3s;
}

.form button:hover {
  background-color: hsl(176, 68%, 64%);
}